* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(49,133,78,1) 1.9%, rgba(43,40,40,1) 100.2%);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courgette", cursive;
    height: 100%;
    
}


.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }
section{
    height: 100%;
    width: 90%;
    border: 0px,solid,#ccc;
    border-radius: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    flex-direction: column;
}
.test{
    height: 5rem;
    width: 5rem;
    background-image: "Site\images\20240310_154012.jpg";
}
.test img{
    width: 100%;
    height: 100%;
}
.normalGif{
    width: 20vh;
    height: 20vh; 
}

.title{
    text-decoration: wavy;
    margin-top: 5VH;
    font-size: 9vh;
    margin-bottom: 3rem;
}
* {
    text-align: center;
    color: #f0ded4
}
.ventiicon{ 
    min-width: 20vh;
    min-height: 20vh;
    width: 70vh;
    height: 50vh;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: transform;
    
}
.bracketicon{
    min-height: 20vh;
    max-height: 26vh;
    min-width: 20vh;
    max-width: 40vh;
    
    margin-top: 11vh;
}
.starticons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
#subTitle{
    color: #d8beae;
    font-size: 5vh;
}
.linkDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vw;
}
.linkDiv img{
    width: auto;
    height: 10vh;
    flex-direction: row;

}
#xicon{
    width: 13vh;
    height: 12vh;
}
#githubIcon{
    width: 14vh;
    height: 14vh;
}
.aboutHeading{
    font-size: 4vh;
    font-style: italic;
    align-self: flex-start;
    margin-top: 3vh;
}

.aboutHeading h3{
    color: rgb(236, 203, 193);
    
}

.break{
    display: none;
}

.pictureHeading{
    align-content: center;

}

.pictureHeading img{
    width: 50vh;
    height: 50vh;
    margin-bottom: 10vh;
    
}

html, body { 
    height: 100%; 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 

.aboutItems {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60vh;
    margin-top: 5vh;
   

}
.aboutItem {
   display: flex;
   width: 100%;
   height: 20vh;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   align-self: flex-start;
   gap: 3vh;
   

    
    
}

.aboutItem img {
   width: 17vh;
   height: 13vh;
 
     
     
 }

 .aboutItem p {
    font-size: 4vh;
    margin-bottom: 3vh ;
  
      
      
  }

#languagesIcon{
    width: 12vh;
    margin-left: 3vh;
    margin-right: 2vh;
}
#studyIcon {
    width: 12vh;
    margin-left: 2.3vh;
    margin-right: 1.8vh;
}
#secondAbout {
    margin-top: 5vh;
}
#programIcon{
    width: 14vh;
    margin-left: 1vh;
}
#whatsUpHeading{
    align-self: center;
}

@media (max-width: 1000px) {



    .normalGif{
        width: 20%;
        height: 20%; 
    }

    .title {
        font-size: 5vh;
        margin-left: 2px;
    }
    #subTitle{
        font-size: 3vh;
    }
    html, body { 
        height: auto;
        width: auto; 
         
        display: flex; 
        align-items: center; 
        justify-content: center; 
      } 

    .break{
        display: inline;
    }
    

    .ventiicon{
        min-width: 15vh;
        min-height: 15vh;
        width: 50vh;
        height: 35vh;
        margin-right: 4vh;
        
    }
    .bracketicon{
        min-height: 12vh;
        max-height: 17vh;
        min-width: 20vh;
        max-width: 40vh;
        
        margin-right:6vh;
    }

    .linkDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 4vw;
        margin-right: 6vh;
    }
    .linkDiv img{
        width: auto;
        height: 7vh;
        flex-direction: row;
    
    }
    #xicon{
        width: 7vh;
        height: 7vh;
    }
    #githubIcon{
        width: 9vh;
        height: 9vh;
    }

    
}



@media(max-width: 600px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .normalGif{
        width: 30%;
        height: 30%; 
    }

    .title {
        font-size: 4vh;
    
    }
    #subTitle{
        font-size: 1.6vh;
        
    }
    html, body { 
        height: auto;
        width: auto; 
         
        display: flex; 
        align-items: center; 
        justify-content: center; 
        justify-self: center;
        margin-left: 0vh;
      } 

    .break{
        display: inline;
    }

    .ventiicon{
        min-width: 15vh;
        min-height: 15vh;
        width: 50vh;
        height: 35vh;
    
        
    }
    .bracketicon{
        display: none;
    }
    .iconClass{
        width: 1%;
        height: 1%;
    }

    .linkDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 3%;
        
    }
    .linkDiv img{
        
        
        flex-direction: row;
    
    }
    #xicon{
     
    }
    #githubIcon{
        
    }
    .aboutHeading{
        font-size: 4vh;
        font-style: italic;
        
    }
    
    .aboutHeading h3{
        color: rgb(236, 203, 193);
        font-size: 3vh;
    }
    .aboutItem p {
        font-size: 2vh;
       
      
          
          
      }
    .aboutItem{
        gap: 0vh;
    }
    #languagesIcon{
        
    }

    .aboutItem img {
     
          
          
      }

    .aboutItems {
       
     
          
      }

    section {
        width: 100%;
        padding: 0 15px; /* Add some padding instead of margins */
    }
    
    .title, #subTitle, .ventiicon, .linkDiv, .aboutHeading {
        margin-left: 0; /* Remove all left margins */
    }


    
}

@media(max-width: 800px){
   
    
}
    

